
.cardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.circleCard {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 3px solid var(--color-primary-orange);
    text-align: center;
    flex-shrink: 0;
}


.image {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.circleCard:hover .image {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 70%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.circleCard:hover .overlay {
    opacity: 1;
}

.name {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.meta {
    color: #f0f0f0;
    font-size: 0.9rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


@media (max-width: 768px) {
    
    .circleCard {
        width: 120px;
        height: 120px;
    }

    .name {
        font-size: 1rem;
    }

    .meta {
        font-size: 0.75rem;
    }

    .cardGrid {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    
    .cardGrid {
        gap: 40px;
    }

    .circleCard {
        width: 100px;
        height: 100px;
    }

    .name {
        font-size: 1rem;
    }


    .meta {
        font-size: 0.75rem;
    }

    .section {
        padding: 40px 10px;
    }
}